.in-digits {
    background-image: url('/img/back10.png')
}

.investment {
    background-image: url('/img/advantages_back.png')
}

.is-sticky {
    position:sticky;
    position:-webkit-sticky;
    top:10px;
}